@use 'global' as *;

// WordPress化のところで追記
.c-hidden-recruit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: red;
  background-color: rgba($color: #fff, $alpha: 0.7);
}
