@use 'global' as *;

.p-form {
  letter-spacing: 0.05em;
}
.p-form__radio {
  margin-top: rem(5);
}

// Contact Form ７を使用して表示確認した際の表示調整
span.wpcf7-form-control.wpcf7-radio {
  display: flex;
  flex-direction: column;
  gap: rem(5);
  @include mq(md) {
    display: flex;
    flex-direction: row;
    gap: 0;
  }
}

.p-form__radio .wpcf7-list-item {
  margin-left: 0;
  display: block;
  @include mq(md) {
    display: inline-block;
  }
}

.p-form dl:not(:first-child) {
  margin-top: rem(30);
}
.p-form__item dt {
  font-size: rem(15);
  line-height: 2;
  font-weight: 600;
}
.p-form__item dt span{
  color: #391E88;
  font-size: rem(12);
  margin-left: rem(10);
}

.p-form__item dt  span.p-form__tel-info {
  font-size: rem(12);
  color: #333333;
  margin-left: 0;
}

.p-form__btn {
  margin-top: rem(50);
  text-align: center;
}
